{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Get in Touch</h1>
            <p class="lead fw-normal text-white-50 mb-0">We'd love to hear from you</p>
        </div>
    </div>
</header>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Contact Us</h2>
                    <p><strong>Phone:</strong> <a href="tel:+263713794967">+263713 794 967</a></p>
                    <p><strong>Email:</strong> <a
                            href="mailto:carzwellchimanyiwa@gmail.com">carzwellchimanyiwa@gmail.com</a></p>
                    <p class="mt-4">Feel free to reach out to us for inquiries, feedback, or support. We'll get back to
                        you as soon as possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}