{% extends 'base.html' %}


{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Create your account</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card shadow p-4 w-100" style="max-width: 400px;">

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-secondary">Register</button>
    </div>
    </form>
</div>
</div>
{% endblock %}